@font-face {
  font-family: "Vazir-Regular";

  src: local("Vazir"),
    url("./assets/fonts/Vazir-Regular.ttf") format("truetype");
}
body {
  font-family: "Vazir-Regular";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
